In [0]:
import numpy as np

In [0]:
arr1=np.arange(20).reshape(4,5)
arr1

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [0]:
# Q1 Write a numpy code to swap col1([0,5,10,15]) with col4([3,8,13,18])
# Hint----> Fancy Indexing

def swap_col(arr,frm,to):
    arr[:,[frm,to]]=arr[:,[to,frm]]
    
swap_col(arr1,0,3)
arr1

array([[ 3,  1,  2,  0,  4],
       [ 8,  6,  7,  5,  9],
       [13, 11, 12, 10, 14],
       [18, 16, 17, 15, 19]])

In [0]:
# Q2 Write a numpy code to reverse the rows of arr1
# The output should be [15, 16, 17, 18, 19] as first row and [ 0,  1,  2,  3,  4] as last
np.flip(arr1,axis=0)

array([[15, 16, 17, 18, 19],
       [10, 11, 12, 13, 14],
       [ 5,  6,  7,  8,  9],
       [ 0,  1,  2,  3,  4]])

In [0]:
arr2=np.array([[1,2,np.nan],[4,5,6],[np.nan,np.nan,9]])
arr2

array([[ 1.,  2., nan],
       [ 4.,  5.,  6.],
       [nan, nan,  9.]])

In [0]:
# Q3 Write a code to replace all the nan(missing values) of arr2 with the mean of arr2


col_mean=np.nanmean(arr2,axis=0)
inds=np.where(np.isnan(arr2))
arr2[inds]=np.take(col_mean,inds[1])
arr2

array([[1. , 2. , 7.5],
       [4. , 5. , 6. ],
       [2.5, 3.5, 9. ]])

In [0]:
arr3=np.random.randint(low=1,high=100,size=20).reshape(5,4)
arr3

array([[71, 55, 23, 49],
       [39, 51, 68, 40],
       [70, 11, 57, 30],
       [85, 44, 26, 83],
       [17, 37, 98,  4]])

In [0]:
# Q4 Write a code which can fetch all items from arr3 which are either greater than 25 or a multiple of 3

arr3[(arr3>25) | (arr3%3==0)]

array([71, 55, 49, 39, 51, 68, 40, 70, 57, 30, 85, 44, 26, 83, 37, 98])

In [0]:
# Q5 Write a code to find the 10th, 25th, 50th(median) percentile of arr3
# Percentiles are a very important concept in Statistics. If you don't know about it refer the video below
# https://www.youtube.com/watch?v=Snf6Wpn-L4c
# Hint: to solve this function google np.percentile()

arr3

array([[71, 55, 23, 49],
       [39, 51, 68, 40],
       [70, 11, 57, 30],
       [85, 44, 26, 83],
       [17, 37, 98,  4]])

In [0]:
np.percentile(arr3,10)

16.400000000000002

In [0]:
np.percentile(arr3,25)

29.0

In [0]:
np.percentile(arr3,50)

46.5